.home-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  width: 100%;
  height: 100vh;
}
.home-inner {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 90vh;
}

.home-btn {
  width: 80%;
  padding: 15px;
  background-color: rgb(237, 94, 42);
  border: 2px solid black;
  color: white;
  font-size: 22px;
  height: 80px;
  font-weight: 600;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-btn:hover {
  scale: 1.03;
}
